// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$white     : #FFFFFF;
$white-2   : #f5f5f5;
$white-3   : #f0f0f0;
$nav-bar-background: #0C365A;
$text-action-color: #0C365A;
$text-green: #01D167;
$text-black: #222222;
$credit-card-green: #01D167;
$card-action-background: #EDF3FF;
$accordion-header: #f5f9ff;
$classic-blue: #325baf;

$type-expense-color: #00d6b51a;
$type-advertisement-color: #f251951a;
$type-refund-color: #009dff1a;

$tab-section-blue: #23cefd;
