// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$white     : #FFFFFF;
$nav-bar-background: #0C365A;
$text-action-color: #0C365A;
$text-green: #01D167;
$text-black: #222222;
$credit-card-green: #01D167;
$card-action-background: #EDF3FF;
